# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
dist/

# Environment
.env

# Logs
*.log

# VS Code
.vscode/

# Storage
storage/downloads/*
storage/screenshots/*
storage/html/*
storage/logs/*
storage/exports/*
storage/temp/*

# OS
.DS_Store
Thumbs.db
